.Contact{
    text-align: center;
    flex-direction: column;
    display: inline;
}

.contact__inner{
    font-size: 30px;
    margin-top: 10%;
}

.number{
    text-decoration: none ;
    font-size: 40px;
}

.number:hover{
font-size: 60px;
}

.email-a{
    text-decoration: none;
}

.email-a:hover{
    font-size: 40px;
}

.phone-email{
    margin-top: 10%;
}

.phone-h1{
    margin-top: 10vh
}

.contact-content{
    list-style-type: none;
}

/* Messenger */

.messenger__title{
    margin-top: 5%;
    margin-bottom: 20px;
}