.Workes-h1{
    font-size: 30px;
    text-align: center;
    margin-top: 5%;
}

.project_img{
    height: 300px;
    margin-bottom: 30px;
    min-width: 400px;
}

.HowareYou{
    padding-bottom: 40px;
}

.project{
    text-align: center;
}

.workes__title{
    text-align: center;
    padding: 35px;
}

.workes__title2{
    text-align: center;
    padding: 15px
}

.Project-h1{
    font-size: 40px;
    text-align: center;
}