
.project-content{
    display: flex;
    text-decoration: none;
}

.project_img{
    max-width: 300px;
    height: 250px;
    display: flex;
    position: relative;
}

.project_title{
    vertical-align: bottom;
    color: blue;
    text-decoration: none;
    font-size: 30px;
}

.project-h1{
    font-size: 40px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 5%;
    margin-top: 3%;
}

.project__navlink{
    text-decoration: none;
    vertical-align: bottom;
    margin-left: 5%;
    padding: 10px;
    padding-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* BigImg */

.big-title{
    font-size: 40px;
    text-align: center;
    margin: 20px;
}

.big_img{
    max-width: 1200px;
    max-height: 1200px;
}

.big__p{
    font-size: 25px;
    padding-top: 5% ;
    padding-bottom: 5%;
}

